body {
  background-color: #e8f1fa;
}
.h1 {
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);

}

.container {
  margin-top: 20px;
  position: center;
}

.card {
  margin-top: 0px;
  background-color: #59a6f9;
}

.delete-btn {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
}

.list-group-item {
  position: relative;
  padding-right: 50px; 
}

.todo-item {
  display: inline-block;
  width: calc(100% - 50px); 
}
